$primary: #181818;  
$bg-color: #f1f1f1;  
$input-bg-color: #dbdbdb;  
$light-border: #a5a5a5;
$para-text: #575757;

body{
    // max-width: 1400px;
    background-color: $bg-color;
    color: $primary;
    padding: 10px 80px;
    margin: auto;

}