@import '../../variable.scss';

.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    .left-side{
        flex: 1;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        h1{
            font-size: 36px;
            font-weight: 500;
            color: $primary;
        }
        h4{
            color: $para-text;
        }
        .new-meeting-enter-code-div{
            display: flex;
            align-items: center;
            // justify-content: space-between;
            gap: 20px;
        }
        .input-div{
            display: flex;
            align-items: center;
            border: 1px solid $light-border;
            border-radius: 6px;
            padding: 2px 8px;
            background-color: $bg-color;
            gap: 8px;
            // justify-content: c;
        }
        input{
            height: 40px;
            width: 200px;
            color: $primary;
            // background:  url("https://imgs.search.brave.com/HCwgB7AhAYV8q01HwZJ7oW_MHAkS3XtrNMo72CO8Fzo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4y/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvY3NzLXZvbC0y/LzI0L2tleWJvYXJk/LTY0LnBuZw") 
            background-color: $bg-color;
            // padding-left: 28px;
            *:focus{
                // outline:  none;
                border: 1px solid $primary;
            }
        }
        button{
            display: flex;
            align-items: center;
            gap: 12px;
            justify-content: center;
            // border: 1px solid #f2f2f2;
            color: $bg-color;
            border-radius: 6px;
            width: 180px;
            height: 42px;
            background-color: $primary;
        }
    }
    .right-side{
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        .change-image{
            display: flex;
            align-items: center;
            gap: 20px;
            span{
                cursor: pointer;
                // color: green;
              
            }
            img{
                background-color: $bg-color;
                width: 500px;
                width: 500px;
            }
        }
        
        p{
            text-align: center;
            padding: 20px;
            font-size: 16px;
            color: $para-text;
            // width: 500px;
            .strong{
                color: $primary;
                opacity: .7;
            }
        }
        .dots{
            display: flex;
            gap: 10px;
            // margin-bottom: 20px;
            .dot-1{
               border-radius: 50px;
               background-color: #D9D9D9;
               width: 8px;
               height: 8px;
            }
            .dot-2{
                border-radius: 50px;
                background-color: #D9D9D9;
                width: 8px;
            height: 8px;
           }

        }
    }
    
}